{% extends "layout.jinja2" %}


{% block  more_scripts %}
 	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% endblock  more_scripts %}

  {% block more_links %}   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="{{request.static_url('ontoviewer:static/bootstrap-table.min.css',_scheme='https')}}" rel="stylesheet">   
	<link href="{{request.static_url('ontoviewer:static/extensions/filter-control/bootstrap-table-filter-control.min.css',_scheme='https')}}" rel="stylesheet">   
	<style>
.filter-control  { margin: 0px 20px 10px 20px;}
.table td { padding: .2rem 1.4rem; font-size: .8rem;}
.intro {text-align: center; margin: 10px 30px 50px 30px;}
.fixed-table-pagination { font-size: .7rem; }


</style>

  {% endblock %}

{% block content %}


<div class="intro">
<div style="margin-top: -10px;margin-bottom:15px">
<a href="/home" style="color:#303030;text-transform:uppercase;font-size:11px;"><i class="fas fa-caret-left"></i> Back to homepage</a>
</div>
<h1>Cells by anatomic site</h1>
<p>You can check the cell types associated to the following organs : adrenal gland, brain, colon, diaphragm, ear, esophagus, gall bladder, ganglion, gonad, hear, immune organ, kidney, large intestine, liver, lung, pancreas, respiratory tract, skeletal element, skin, small intestine, spinal cord, stomach, thyroid, tongue, umbilical cord, urethra</p>
</div>

 
<table
  id="table"
  data-filter-control="true"
  data-pagination="true"
  data-page-size="50"
  data-thead-classes = "thead-light"
  data-sort-name="organ"
  data-sort-order="asc"
  data-url="{{request.static_url('ontoviewer:static/cell_by_organ_table.json',_scheme='https')}}"
  >
<thead>
        <tr>
          <th data-field="organ" data-filter-control="input" data-filter-control="select" data-sortable="true" data-title-tooltip="adrenal gland,brain,colon,diaphragm,ear,esophagus,ear,gall bladder,ganglion,gonad,hear,immune organ,kidney,large intestine,liver,lung, pancreas, respiratory tract,skeletal element,skin,small intestine,spinal cord,stomach,thyroid,tongue,umbilical cord,urethra..">Organ or "precursor cell"</th>
          <th data-field="cell_name" data-filter-control="input" data-sortable="true"  >Cell name</th>
		  <th data-field="onto_ID" data-filter-control="input" data-sortable="true">Cell ontology ID</th>
        </tr>
      </thead>
    </table>
	
	
	
	<br />
<div style="width:100%">
<p>Useful links : <a href="https://www.ebi.ac.uk/ols/ontologies/cl" target="_blank">cell ontology</a> , <a href="/cells_comp" >tree view of cell types by localisation</a>, <a href="/cells_precursor" >tree view of cell precursors</a></p>
<br />
<div style="text-align:center"><a href="/home" style="color:#303030;text-transform:uppercase;font-size:10px"><i class="fas fa-caret-left"></i> Back to homepage</a></div>
</div>
	

{% endblock content %}

{% block comp_script %}

<script>

 var $table = $('#table')
  $(function() {

	$table.bootstrapTable()	

    var $selectControl = $(".bootstrap-table-filter-control-organ"); 
	$selectControl.attr('placeholder', 'start typing to filter the results');	
	
	{% if label != "" %}
	$selectControl.val('{{ label }}'); 
	$selectControl.change();
	{% endif %}
	
	var $selectControlot = $(".bootstrap-table-filter-control-organ_type"); 
	$selectControlot.attr('placeholder', 'start typing to filter the results');	
	
	var $selectControlas = $(".bootstrap-table-filter-control-anatomic_system"); 
	$selectControlas.attr('placeholder', 'start typing to filter the results');	


  })
  


</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{request.static_url('ontoviewer:static/bootstrap-table.min.js',_scheme='https')}}"></script>	
	<script src="{{request.static_url('ontoviewer:static/extensions/filter-control/bootstrap-table-filter-control.min.js',_scheme='https')}}"></script>
 
{% endblock comp_script %}
