{% extends "layout.jinja2" %}


{% block  more_scripts %}
 {% endblock  more_scripts %}

  {% block more_links %}   
	<style>
.intro {text-align: center; margin: 10px 30px 50px 30px;}
.lists ul {width: 400px; margin: auto;list-style: none}
.lists ul li { border-bottom : 1px solid #A9A9A9 ; padding: 10px 20px; }
a {color: #007bff; text-decoration: none}
</style>

  {% endblock %}

{% block content %}
<div class="intro">
<h1>Ontoviewer</h1>
<p>List of ontologies and controlled lists to characterize the samples and data for the Hudeca project</p>
</div>

<div class="lists">
<ul>
<li>Carnegie stage and post-conception weeks</li>
<li><a href="/organs">Organs, organ parts and subdivisions</a></li>
<li><a href="/cells">Cells</a></li>
</ul>
</div>


{% endblock content %}

{% block comp_script %}

 
{% endblock comp_script %}
