{% extends "layout.jinja2" %}


{% block  more_scripts %}
 {% endblock  more_scripts %}

  {% block more_links %}   


  {% endblock %}

{% block content %}
<h1>BONJOUR</h1>



{% endblock content %}

{% block comp_script %}

 
{% endblock comp_script %}