{% extends "layout.jinja2" %}


{% block  more_scripts %}
 {% endblock  more_scripts %}

  {% block more_links %}   
  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	
	<style>
.intro {text-align: center; margin: 10px 30px 50px 30px;}
.lists ul {width: 480px; margin: auto;list-style: none; text-align: center;}
.lists ul li { border-bottom : 1px solid #A9A9A9 ; padding: 10px 20px; margin-bottom: 10px; font-weight:600; }
.lists p {margin:0px; padding: 0px;}
a {color: #007bff; text-decoration: none}
</style>

  {% endblock %}

{% block content %}
<div class="intro">
<h1>Ontoviewer</h1>
<!--
<div style="width:100%;text-align:center;"><p style="width:480px;margin:auto;">Aspectual views to see the terms that can be used to characterize the samples and data for the Hudeca project</p></div> -->
</div>

<div class="lists">
<ul>
<li>Human developmental stages</li>
<p><a href="/stages">Table of equivalence between prenatal stages</a></p>
<p><a href="/humandev">Tree of evolution (draft only)</a></p>
<br />
<li>Organs, organ parts and subdivisions</li>
<p><a href="/organs">Table of organs</a> </p>
<p><a href="/organs_comp">Tree view of main organ parts</a></p>
<br />
<li>Cell types</li>
<p><a href="/cells">Table of cell types</a></p>
<p><a href="/cells_comp">Tree of cell types by organs</a></p>
<p><a href="/cells_precursor">Tree of precursor cells</a></p>
</ul>
</div>


{% endblock content %}

{% block comp_script %}

 
{% endblock comp_script %}
