<!DOCTYPE html>
<html lang="{{request.locale_name}}">

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ontoviewer">
    <meta name="author" content="LNOEL">
     <title>{% block title %}Ontoviewer{% endblock %}</title>

   {% block more_scripts %} {% endblock %}
  {% block more_links %} {% endblock %}
   </head>
  {% endblock head %}

<body>





  
            {% block content %}
	
             <p>Some content</p>
	  
	   
            {% endblock content %}



  



            {% block comp_script %}


<script>
</script>

         {% endblock comp_script %}


    </body>






			
</html>
