<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('ontoviewer:static/pyramid-16x16.png')}}">

    <title>Ontoviewer</title>
 {% block scripts %}
  
{% endblock scripts %}
 
 

  
    <style>
	html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
	</style>


  </head>

  <body>
 {% block content %}
                <p>No content</p>
 {% endblock content %}




  </body>
   {% block endscripts %}
  
{% endblock endscripts %}
</html>
