{% extends "layout.jinja2" %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 
{% endblock scripts %}

{% block content %}
<div id="container" ></div>
{% endblock content %}

{% block endscripts %}
<script>
var settings = {
"url": "http://localhost:8080/rdf4j-server/repositories/hcao",
"method": "POST",
"timeout": 0,
"crossDomain": true,
"headers": {
"Content-Type": "application/sparql-query",
"Access-Control-Allow-Origin":"*"
},
"data": "prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> \r\nprefix owl: <http://www.w3.org/2002/07/owl#> \r\nSELECT distinct ?s\r\nWHERE { \r\n?s ?p ?o\r\n} LIMIT 5",
};

$.ajax(settings).done(function (response) {
alert(response);
}); 

</script>
 
{% endblock endscripts %}