{% extends "layout.jinja2" %}

{% block  more_scripts %}


 
{% endblock  more_scripts %}

{% block content %}
<div id="container" >YES </div>
{% endblock content %}

{% block comp_script %}

<script>
var data = "prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
\nprefix owl: <http://www.w3.org/2002/07/owl#> 
\nSELECT distinct ?s
\nWHERE { 
\n?s ?p ?o
\n} LIMIT 5";

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function() {
  if(this.readyState === 4) {
    console.log(this.responseText);
  }
});

xhr.open("POST", "http://openstack-192-168-100-40.genouest.org/rdf4j-server/repositories/hcao");
xhr.setRequestHeader("Content-Type", "application/sparql-query");

xhr.send(data);
</script>

 
{% endblock comp_script %}