{% extends "layout.jinja2" %}

{% block scripts %}


 
{% endblock scripts %}

{% block content %}
<div id="container" >Hello</div>
{% endblock content %}

{% block endscripts %}

<script>
var settings = {
"url": "http://localhost:8080/rdf4j-server/repositories/hcao",
"method": "POST",
"timeout": 0,
"headers": {
"Content-Type": "application/sparql-query",
"Access-Control-Allow-Origin":"*"
},
"data": "SELECT distinct ?s WHERE { ?s ?p ?o } LIMIT 5",
};

$.ajax(settings).done(function (response) {
console.log(response);
}); 

</script>

 
{% endblock endscripts %}