{% extends "layout.jinja2" %}


{% block  more_scripts %}
 	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% endblock  more_scripts %}

  {% block more_links %}   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="{{request.static_url('ontoviewer:static/bootstrap-table.min.css')}}" rel="stylesheet">   
	<link href="{{request.static_url('ontoviewer:static/extensions/filter-control/bootstrap-table-filter-control.min.css')}}" rel="stylesheet">   
	<style>
.filter-control  { margin: 0px 20px 10px 20px;}
.table td { padding: .2rem .4rem; font-size: .8rem;}
.intro {text-align: center; margin: 10px 30px 50px 30px;}
.fixed-table-pagination { font-size: .7rem; }


</style>

  {% endblock %}

{% block content %}


<div class="intro">
<h1>Organs, organ parts and subdivisions</h1>
{% if label != "" %}
<p>You can also check the label <b> {{ label }} </b> in the <a href="http://ontology.staging.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F{{ itemId }}" target="_blank">hca tree ontology</a> or the <a href="/organs_comp" target="_blank">tree about main anatomic components</a></p>
{% else %}
<p>You can also check the organs listed in the <a href="http://ontology.staging.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000062" target="_blank">hca tree ontology</a> or the <a href="/organs_comp" target="_blank">tree about main anatomic components</a></p>
{% endif %}

</div>

 
<table
  id="table"
  data-filter-control="true"
  data-pagination="true"
  data-page-size="50"
  data-thead-classes = "thead-light"
  data-sort-name="organ"
  data-sort-order="asc"
  data-url="{{request.static_url('ontoviewer:static/organ.json')}}"
  >
<thead>
        <tr>
          <th data-field="organ" data-filter-control="input" data-filter-control="select" data-sortable="true" data-title-tooltip="adrenal gland,brain,colon,diaphragm,ear,esophagus,ear,gall bladder,ganglion,gonad,hear,immune organ,kidney,large intestine,liver,lung, pancreas, respiratory tract,skeletal element,skin,small intestine,spinal cord,stomach,thyroid,tongue,umbilical cord,urethra..">Main organ</th>
          <th data-field="organ_type" data-filter-control="input" data-sortable="true"  >Organ part or subdivision</th>
		  <!--<th data-field="type" data-filter-control="select" data-sortable="true">Type</th>-->
		  <th data-field="anatomic_system" data-filter-control="input" data-sortable="true" data-title-tooltip="genitourinary system, integumental system, musculoskeletal system, cardiovascular system, central nervous system, respiratory system, digestive system, peripheral nervous system, endocrine system, hematopoietic system, sensory system, exocrine system, extraembryonic tissue, reproductive system, hepatobiliary system, head, pancreatic system">Anatomical system</th>
        </tr>
      </thead>
    </table>
	

{% endblock content %}

{% block comp_script %}

<script>

 var $table = $('#table')
  $(function() {

	$table.bootstrapTable()	

    var $selectControl = $(".bootstrap-table-filter-control-organ"); 
	$selectControl.attr('placeholder', 'start typing to filter the results');	
	
	{% if label != "" %}
	$selectControl.val('{{ label }}'); 
	$selectControl.change();
	{% endif %}
	
	var $selectControlot = $(".bootstrap-table-filter-control-organ_type"); 
	$selectControlot.attr('placeholder', 'start typing to filter the results');	
	
	var $selectControlas = $(".bootstrap-table-filter-control-anatomic_system"); 
	$selectControlas.attr('placeholder', 'start typing to filter the results');	


  })
  


</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{request.static_url('ontoviewer:static/bootstrap-table.min.js')}}"></script>	
	<script src="{{request.static_url('ontoviewer:static/extensions/filter-control/bootstrap-table-filter-control.min.js')}}"></script>
 
{% endblock comp_script %}